<footer class="p-nav">
    <nav class="p-footer">
      <ul class="p-nav-footer">
        <li><%= link_to 'About', abouts_path, class: "p-header-link" %></li>
        <li><%= link_to 'Works', portfolios_path, class: "p-header-link" %></li>
        <li><%= link_to 'MyBlog', "https://yunuposu.com", class: "p-header-link" %></li>
        <li><%= link_to 'Contact', new_contact_path, class: "p-header-link" %></li>
        <li><%= link_to 'FURIMATCHへ戻る', root_path, class: "p-header-link" %></li>
      </ul>
    </nav>
  
  <h4 id="copyright">
    <small>©︎ Yu Matsui All rights reserved.</small>
  </h4>
  
  
  </footer>